*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.7;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
}

a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
}

img {
	max-width: 100%;
}

:root {
	--fiery-rose: #ff5361;
	--fiery-rose-dark: #e91e3b;
	--pink-lemonade: #ffebec;
	--orange: #fc4c1c;
	--orange-dark: #e4562f;
	--linen: #fae8e0;
	--snow: #f9f9f9;
	--boulder: #777;
	--davys-grey: #555;
	--dark-charcoal: #333;
	--black-olive: #3e3e3e;
	--gun-powder: #4d4d4f;
}


/*--------------------------------------------------------*/
/*-------------------- ANIMATIONS ------------------------*/
/*--------------------------------------------------------*/
@keyframes slideLeft {
	0% {
		opacity: 0;
		transform: translateX(10rem);
	}

	80% {
		opacity: 0;
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes slideLeftNoDelay {
	0% {
		opacity: 0;
		transform: translateX(10rem);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInFromRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(10rem);
		transform: translateX(10rem);
	}

	80% {
		-webkit-transform: translateX(-1rem);
		transform: translateX(-1rem);
	}

	100% {
		opacity: 1;
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}

@keyframes moveUpAndDown {
	from {
		transform: translate3d(0, -2.5rem, 0);
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes moveInFromBottom {
	0% {
		opacity: 0;
		-webkit-transform: translateY(3rem);
		transform: translateY(3rem);
	}

	100% {
		opacity: 1;
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}

/*--------------------------------------------------------*/
/*-------------------- ANIMATIONS ------------------------*/
/*--------------------------------------------------------*/


/*--------------------------------------------------------*/
/*-------------------- BUTTONS ---------------------------*/
/*--------------------------------------------------------*/
.btn:link,
.btn:visited {
	display: inline-block;
	font-size: 1.3rem;
	text-transform: uppercase;
	text-decoration: none;
	padding: 1.5rem 4rem;
	border-radius: 100px;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
	position: relative;
}

.btn:hover {
	-webkit-transform: translateY(-3px);
	-ms-transform: translateY(-3px);
	transform: translateY(-3px);
	-webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
	-webkit-transform: translateY(-1px);
	-ms-transform: translateY(-1px);
	transform: translateY(-1px);
	-webkit-box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn::after {
	content: '';
	display: inline-block;
	width: 100%;
	height: 100%;
	border-radius: 100px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}

.btn:hover::after {
	-webkit-transform: scaleX(1.4), scaleY(1.6);
	-ms-transform: scaleX(1.4), scaleY(1.6);
	transform: scaleX(1.4), scaleY(1.6);
}

.btn-white {
	background-color: #fff;
	color: var(--boulder);
}

.btn-white::after {
	background-color: #fff;
	opacity: 0;
}

.btn-phantom:link,
.btn-phantom:visited {
	background-color: #fff;
	color: var(--boulder);
	-webkit-box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn-phantom:hover,
.btn-phantom:active {
	outline: 2px solid var(--fiery-rose);
	color: var(--fiery-rose);
}

.btn-rose:link,
.btn-rose:visited {
	background-color: var(--fiery-rose);
	color: #fff;
}

.btn-rose:hover,
.btn-rose:active {
	background-color: var(--fiery-rose-dark);
	color: #fff;
}

.btn-rose::after,
.form-element button:after {
	background-color: var(--fiery-rose);
	opacity: 0;
}

.btn-animated {
	animation: slideLeft 2.2s linear forwards;
}

.btn-custom:link,
.btn-custom:visited {
	font-size: 1.2rem !important;
	padding: 1rem 1.5rem !important;
}

.btn-custom:hover,
.btn-custom:active {
	font-size: 1.2rem !important;
}

/*--------------------------------------------------------*/
/*-------------------- BUTTONS ---------------------------*/
/*--------------------------------------------------------*/


/*--------------------------------------------------------*/
/*-------------------- OTHER UTILITY CLASSES -------------*/
/*--------------------------------------------------------*/
.no-background {
	background: none !important;
	/*-----------  RESETS 'header' CLASS DEFINED LATER  -----------*/
	height: auto !important;
	position: static !important;
}

.active-page:link,
.active-page:visited {
	color: var(--fiery-rose) !important;
}

.active-page:hover,
.active-page:active {
	color: var(--fiery-rose-dark) !important;
}


.text-center {
	text-align: center !important;
}

.float-right {
	float: right;
}

.margin-bottom-big {
	margin-bottom: 8rem;
}

.margin-bottom-small {
	margin-bottom: 1rem;
}

.row-redefined {
	margin-bottom: 4rem;
	/*-----------  RESETS VERTICAL GUTTER DEFINED EARLIER  -----------*/
}

.section-title {
	display: table;
	font-size: 3.5rem;
	text-transform: capitalize;
	font-weight: 600;
	margin: 0 auto;
	/* text-shadow: .5rem 1rem 2rem rgba(0, 0, 0, 0.2); */
	text-shadow: .5rem 1rem 2rem rgba(252, 76, 28, 0.2);
}

.section-title span {
	background-image: linear-gradient(var(--linen), var(--fiery-rose));
	background-clip: text;
	-webkit-background-clip: text;
	font-weight: 700;
	color: transparent;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s ease-in-out;
}

.section-title:hover {
	transform: translateY(-.3rem) scale(1.1);
}

.section-desc {
	display: table;
	max-width: 54rem;
	font-size: 1.6rem;
	color: var(--boulder);
	line-height: 1.625;
	margin: 0 auto 1rem auto;
}

.section-heading {
	font-size: 1.6rem !important;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

/*--------------------------------------------------------*/
/*-------------------- OTHER UTILITY CLASSES -------------*/
/*--------------------------------------------------------*/

#header {
	background-image: radial-gradient(#fff, var(--pink-lemonade));
	background-position: center;
	background-size: cover;
	position: relative;
	padding-bottom: .1rem;
	overflow: hidden;
}

#header .logo-and-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3rem 0;
}

.logo-and-nav .logo img {
	display: block;
}

.logo-and-nav .navigation {
	display: flex;
	align-items: center;
}

.navigation li:not(:first-of-type) {
	padding-left: 3rem;
}

.navigation li a:link,
.navigation li a:visited {
	color: var(--dark-charcoal);
	transition: color .3s ease-in-out;
}

.navigation li a:hover,
.navigation li a:active {
	color: var(--boulder);
}

.logo-and-nav .menu-icon {
	display: none;
}

#header .what-we-offer {
	display: flex;
	align-items: center;
	padding: 14rem 0;
	position: relative;
	overflow: hidden;
}

.what-we-offer .tagline {
	flex: 0 0 50%;
}

.tagline h1 {
	font-size: 5rem;
	line-height: 1.2;
	font-weight: 700;
	margin-bottom: 2.5rem;
}

.tagline p {
	margin-bottom: 3rem;
	animation: slideLeft 1.7s linear forwards;
}

.tagline .tagline-line-1 {
	display: block;
	animation: slideLeftNoDelay 1s linear forwards;
}

.tagline .tagline-line-2 {
	display: block;
	animation: slideLeftNoDelay 1s linear forwards;
}

.what-we-offer .flagship {
	flex: 1;
	overflow: hidden;
}

.flagship img {
	display: block;
	width: auto;
	height: 48rem;
	animation: moveUpAndDown 1.1s;
	animation-direction: alternate;
	animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
	animation-iteration-count: infinite;
	position: absolute;
	right: 5%;
	bottom: 5.3rem;
}

.what-we-offer .btn:link,
.what-we-offer .btn:visited {
	color: #fff;
	background-color: var(--fiery-rose);
}

.what-we-offer .btn:hover,
.what-we-offer .btn:active {
	color: #fff;
	background-color: var(--fiery-rose-dark);
}

.header-modified {
	background-color: #fff;
	box-shadow: 0 .5rem 1rem rgb(0, 0, 0, 0.05);
}

.custom-shape-divider-bottom-1674999912 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
}

.custom-shape-divider-bottom-1674999912 svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 150px;
	transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1674999912 .shape-fill {
	fill: #FFFFFF;
}

#categories-section {
	padding: 5rem 0 11rem 0;
}

#categories-section .category {
	transition: all .5s ease-in-out;
}

.category:hover {
	transform: translateY(-.5rem) scale(1.1);
}

.category .caption span {
	transition: all .5s ease-in-out;
}

.category:hover .caption span {
	color: #fff;
	background-color: var(--fiery-rose);
}

.category a {
	color: transparent;
}

.category img {
	display: block;
	width: 100%;
	height: auto;
	border-radius: 12px;
}

.category .caption {
	margin-top: -1.5rem;
	text-align: center;
	z-index: 2;
}

.category .caption span {
	font-size: 1.3rem;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #fff;
	color: var(--boulder);
	padding: 1.5rem 4rem;
	border-radius: 20rem;
	-webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

#popular-products-section {
	background-color: rgb(252, 250, 250, 0.7);
}

#popular-products-section,
#new-arrivals-section {
	padding: 6rem 0;
}

.merchandises .merchandise {
	transition: transform .5s;
}

.merchandises .merchandise:hover {
	transform: translateY(-.5rem);
}

.merchandises .merchandise img {
	display: block;
	width: 100%;
	height: auto;
	border-radius: 12px;
}

.merchandise h3 {
	font-weight: 400;
	margin-top: .5rem;
	margin-left: .5rem;
}

.merchandise .btn {
	margin: 1.35rem 0 0 0;
}

.merchandise .btn .fa {
	padding-right: .6rem;
}

.merchandise small {
	display: block;
	margin-top: .5rem;
	margin-left: .5rem;
}

.rating {
	margin-top: .5rem;
	margin-left: .5rem;
}

.rating .fa {
	color: var(--orange);
	transition: .4s;
}

.rating .fa:hover {
	color: var(--orange-dark);
	transform: scale(1.3);
}

#offers-section {
	background-image: radial-gradient(#fff, var(--linen));
	padding: 12rem 0 4.5rem 0;
}

#offers-section .offer-img img {
	display: block;
	margin: 0 auto;
	width: auto;
	height: 50rem;
	animation: moveUpAndDown 1.1s;
	animation-direction: alternate;
	animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
	animation-iteration-count: infinite;
}

#offers-section .offer-text {
	width: 100%;
	height: 50rem;
	padding-top: 10rem;
}

.offer-text h3 {
	font-size: 3.5rem;
}

.offer-text small {
	display: block;
}

.offer-text .btn {
	margin: 1.5rem 0 0 0;
	padding: 1rem 3rem;
}

#footer {
	background-color: var(--snow);
	/* background-color: #eeedec; */
	padding: 6rem 0 4rem 0;
}

#footer .footer-logo {
	text-align: center;
}

.footer-logo a {
	color: transparent;
}

.footer-logo img {
	width: 4rem;
	height: auto;
}

.footer-logo small {
	display: block;
	color: #000;
}

.footer-menu-heading {
	font-size: 1.5rem;
	text-align: center;
	margin-bottom: 1.2rem;
}

.footer-menu {
	text-align: center;
}

.footer-menu .footer-menu-item .footer-menu-link:link,
.footer-menu .footer-menu-item .footer-menu-link:visited {
	font-size: 1.4rem;
	color: var(--boulder);
}

.footer-menu .footer-menu-item .footer-menu-link:hover,
.footer-menu .footer-menu-item .footer-menu-link:active {
	color: var(--fiery-rose);
}

.footer-menu .footer-menu-item .footer-menu-link:hover i,
.footer-menu .footer-menu-item .footer-menu-link:active i {
	transform: scale(1.1);
}

#footer .copy-right {
	width: 100%;
	height: auto;
	text-align: center;
}

.copy-right small {
	display: inline-block;
	color: var(--fiery-rose);
	padding: .3rem .8rem;
	border: 2px solid var(--fiery-rose);
	border-radius: 100px;
}

.price {
	display: block;
	font-size: 2rem;
	font-weight: 600;
	margin-top: 2rem;
}

#all-products-section #product-category-tabs {
	display: flex;
	justify-content: center;
	margin: 1.5rem 1rem;
}

#product-category-tabs ul {
	display: flex;
	width: 100%;
}

#product-category-tabs ul li {
	width: calc((100% - 2 * .7rem) / 3);
	/* border: 1px solid red; */
}

#product-category-tabs ul li:not(:last-child) {
	margin-right: .7rem;
}

#product-category-tabs ul li .product-category-tab {
	/*padding: 1rem 2.5rem;*/
	width: 100%;
	height: 100%;
	/* border: 1px solid green; */
	text-align: center;
	font-weight: 600;
	letter-spacing: .1rem;
	text-transform: uppercase;
	opacity: 0.8;
	transition: all .2s ease-in-out;
}

#product-category-tabs ul li.active .product-category-tab,
#product-category-tabs ul li .product-category-tab:hover {
	opacity: 1;
	transform: translateY(-.2rem);
}

.product-category-tab {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.product-category-tab .tab-icon {
	color: var(--fiery-rose);
}

.product-category-tab .tab-label {
	color: var(--dark-charcoal);
	margin-left: .25rem;
}

.active-tab>.tab-label {
	color: var(--fiery-rose);
}

#all-products-section .product {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 3rem 0;
	border-top: 1px solid #ccc;
}

.product .product-image {
	flex: 0 0 40%;
}

.product-image img {
	display: block;
	width: auto;
	max-width: 100%;
	max-height: 70rem;
	margin: 0 auto;
	/* border-radius: 1.2rem; */
}

.product .product-info {
	flex: 0 0 58%;
	/* color: var(--davys-grey); */
}

.product-info h2 {
	font-size: 2.2rem;
	font-weight: 600;
	color: var(--dark-charcoal);
	margin: .4rem 0 .67rem 0;
}

.product-highlights {
	color: var(--fiery-rose);
	font-weight: 500;
	text-transform: capitalize;
	margin-bottom: 1.34rem;
}

.product-description,
.additional-info {
	margin-top: 1.1rem;
	margin-bottom: .9rem;
}

.product-info h4 span {
	color: transparent;
	text-shadow: 0 0 0 var(--fiery-rose);
}

.product-info .product-feature {
	margin-left: 1rem;
	margin-bottom: 1rem;
	font-weight: 500;
	font-size: 1.5rem;
	letter-spacing: .04rem;
}

.product-feature span {
	color: #0cff84;
	font-size: 1.7rem;
	font-weight: 900 !important;
	margin-right: .3rem;
}

.product-info .rating i {
	color: #ff5361;
}

.product-info .rating i:not(:last-of-type) {
	margin-right: .4rem;
}

#contact-us {
	padding: 15rem 0;
	/* background-color: var(--fiery-rose); */
	background-image: linear-gradient(to right bottom, var(--fiery-rose), var(--fiery-rose-dark));
}

#contact-us #contact-box {
	width: 100%;
	background-color: var(--black-olive);
	border-radius: 12px;
	box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
}

#contact-box #contact-box-header {
	background-color: var(--gun-powder);
	padding: 1rem 2rem;
	border-radius: 12px 12px 0 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#contact-box-header-left .contact-box-header-circle {
	display: inline-block;
	width: 8px;
	height: 8px;
	margin-right: 3px;
	border-radius: 50%;
}

.contact-box-header-circle.one {
	background-color: #ed1c6f;
}

.contact-box-header-circle.two {
	background-color: #e8e925;
}

.contact-box-header-circle.three {
	background-color: #74c54f;
}

#contact-box-header-right .contact-box-header-ellipsis {
	display: inline-block;
	width: 3px;
	height: 3px;
	margin-left: 2px;
	border-radius: 50%;
	background-color: #999;
}

#contact-box #contact-box-content {
	display: flex;
	position: relative;
}

#contact-box-content .contact-info {
	flex: 1;
	padding: 5rem;
}

.contact-info.left {
	display: flex;
	flex-direction: column;
}

.contact-info.left h1 {
	display: flex;
	flex-direction: column;
	color: var(--fiery-rose);
	font-size: 2.5rem;
	font-weight: 500;
	position: relative;
}

.contact-info.left h1:after {
	content: '';
	display: block;
	left: 0;
	bottom: -1rem;
	width: 2.5rem;
	height: .4rem;
	background-color: var(--fiery-rose);
	position: absolute;
}

.contact-info.left p {
	margin-top: auto;
	font-size: 1.1rem;
	color: #888;
}

.form-element {
	margin-bottom: 1.5rem;
}

.form-element.message {
	margin-top: 4rem;
}

.form-element.send {
	margin-bottom: 0;
}

.form-control {
	width: 100%;
	padding: 1rem 0;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #666;
	outline: none;
	color: #ddd;
	font-size: 1.4rem;
	text-transform: uppercase;
	transition: border-color .2s;
}

.form-control::placeholder {
	/* color: #666; */
	color: #888;
}

.form-control:focus {
	border-bottom-color: #ddd;
}

.form-button {
	display: inline-block;
	text-transform: uppercase;
	background-color: transparent;
	color: var(--fiery-rose);
	font-size: 1.4rem;
	border: 2px solid var(--fiery-rose);
	border-radius: 100px;
	outline: none;
	cursor: pointer;
	padding: 0.2rem 1rem;
	transition: all .1s;
}

.form-button:hover,
.form-button:active {
	color: var(--fiery-rose-dark);
	border: 2px solid var(--fiery-rose-dark);
}

.memo-modal {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: none;
	display: none;
}

.memo-modal .memo {
	width: 40%;
	height: 40%;
	position: relative;
	top: 35%;
	left: 75%;
	transform: translate(-50%, -50%);
	padding: 1rem;
	border-radius: 3rem;
	-webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
	box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
	display: table;
}

.memo::after {
	content: '';
	display: inline-block;
	width: 12%;
	height: 15%;
	background: inherit;
	position: absolute;
	bottom: -14%;
	left: 12%;
	clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.memo .memo-text {
	display: table-cell;
	vertical-align: middle;
	color: #fff;
	font-size: 2.2rem;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	text-align: center;
	word-wrap: break-word;
}

.success {
	background-color: #0cff84; 
}

.error {
	background-image: var(--orange);  
}

#about-us {
	padding: 10rem 0;
	/* background-color: var(--fiery-rose); */
	background-image: linear-gradient(75deg, var(--fiery-rose) 0%, var(--fiery-rose) 35%, var(--linen) 35%, var(--linen) 100%);
	/* background-image: radial-gradient(circle at 0, var(--fiery-rose) 35%, var(--pink-lemonade) 35%); */
}

#about-us #about-box {
	width: 100%;
	background-color: transparent;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

#about-box #about-img {
	flex: 0 0 46%;
	padding: 5rem 0 5rem 5rem;
}

#about-img img {
	display: block;
	width: 100%;
	height: auto;
	border-radius: 12px;
	box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
}

#about-box #about-txt {
	flex: 0 0 50%;
	padding: 5rem 0 5rem 0;
}

#about-txt h1 {
	color: var(--fiery-rose);
	font-weight: 500;
	position: relative;
	margin: 0 0 .7rem 1.5rem;
}

#about-txt h1:after {
	content: '';
	display: block;
	left: -1.5rem;
	top: 25%;
	width: .4rem;
	height: 3rem;
	background-color: var(--fiery-rose);
	position: absolute;
}

#about-txt p {
	margin-bottom: 1.7rem;
}