/*--- Big desktops ---*/
@media only screen and (min-width:112.5em) {	/*1800px*/
	html {
		font-size: 75%;
	}
}


/*--- Tablets in landscape mode ---*/
@media only screen and (max-width:75em) {	/*1200px*/
	:root {
		--horizontal-gutter: 3rem !important;	/*-----------  HORIZONTAL GUTTER  -----------*/
	}
	html {
		font-size: 56.25% !important;
	}
	.row {
		max-width: 90% !important;	/*-----------  MAXIMUM WIDTH OF GRID SYSTEM  -----------*/
	}
	.tagline h1 {
		font-size: 4.5rem !important;
		line-height: 1.2;
		font-weight: 700;
		margin-bottom: 2.5rem;
	}
	.category .caption span {
		font-size: 1.2rem !important;
		letter-spacing: .05rem;
		padding: .75rem 2rem !important;
	}
	.product-details-img .main-img img {
		width: 26.38rem;
		height: 34.56rem;
	}
}


/*--- Tablets in portrait mode ---*/
@media only screen and (max-width:56.25em) {	/*900px*/
	:root {
		--horizontal-gutter: 6rem !important;	/*-----------  HORIZONTAL GUTTER  -----------*/
	}
	.row {
		width: 90% !important;
		max-width: 65rem !important;
		margin-bottom: 6rem;
	}
	.row:not(:first-of-type) {
		margin-bottom: 0 !important;
	}
	.row [class^="colm-"] {
		width: 100%;
		margin: 0 auto 6rem auto !important;
	}
	html {
		font-size: 50%;
	}
	body {
		padding: 0;
	}
	/*--------------------------------------------------------*/
	/*-------------------- OTHER UTILITY CLASSES -------------*/
	/*--------------------------------------------------------*/
	.margin-bottom-big {
		margin-bottom: 5rem;
	}
	.row-redefined {
		margin-bottom: 1rem;	/*-----------  RESETS VERTICAL GUTTER DEFINED EARLIER  -----------*/
	}
	/*--------------------------------------------------------*/
	/*-------------------- OTHER UTILITY CLASSES -------------*/
	/*--------------------------------------------------------*/
	.logo-and-nav:hover::before {
		display: none;
	}
	.logo-and-nav .navigation {
		display: block;
		width: calc(100% - 2rem);
		height: 0;
		position: absolute;
		top: 7.5rem;
		left: 50%;
		transform: translateX(-50%);
		background-color: #333;
		/* padding: 1.5rem 0; */
		border-radius: 3px;
		z-index: 20;
		overflow: hidden;
		transition: all .2s ease;
	}
	.navigation li {
		display: block;
	}
	.navigation li a:link,
	.navigation li a:visited {
		display: block;
		color: #fff;
		text-align: right;
		padding: 0 3.75rem 0 0 !important;
	}
	.logo-and-nav .menu-icon {
		display: flex;
		align-items: center;
		font-size: 2.75rem;
		cursor: pointer;
	}
	.menu-icon i {
		transition: all 1s ease;
	}
	#header .what-we-offer {
		flex-direction: column-reverse;
		padding: 6rem 0 8rem 0;
		overflow: hidden;
	}
	.what-we-offer .tagline {
		flex: 1 !important;
		text-align: center;
	}
	.what-we-offer .flagship {
		overflow: hidden;
		padding-top: 2.5rem;
	}
	.flagship img {
		width: 100%;
		height: auto;
		/* right: 12%;
		bottom: 0; */
		right: 50%;
		bottom: 10rem;
		transform: translate(-50%, -50%);
	}
	.category:hover {
		transform: translateY(-.5rem) scale(1.025) !important;
	}
	.category .caption span {
		font-size: 1.3rem !important;
		padding: 1.5rem 8rem !important;
	}
	.product-catalogue .section-title {
		margin: 0;	/*-----------  RESETS 'section-title' CLASS DEFINED EARLIER  -----------*/
		font-size: 2.3rem;
	}
	.product-catalogue form select {
		border: 1px solid var(--orange);
		border-radius: 100px;
		outline: 1px solid transparent;
		padding: .35rem 1rem;
	}
	.merchandise {
		text-align: center;
	}
	.merchandise h3 {
		font-weight: 400;
		margin-top: 1.2rem;
		margin-left: .5rem;
	}
	.exhaustive {
		margin-top: 1.75rem !important;
	}
	#offers-section {
		text-align: center;
		padding: 8rem 0 2rem 0;
	}
	#offers-section .offer-img {
		margin-bottom: -6rem;
	}
	#offers-section .offer-img img {
		margin: 0 auto;
	}
	#offers-section .offer-text {
		width: 100%;
		height: auto;
		padding-top: 0;
	}
	#footer {
		padding: 6rem 0 0 0;
	}
	.product-details-img .main-img img {
		width: 100%;
		height: auto;
	}
	#product-details .thumbnails {
		display: table;
		text-align: center;
	}
	.thumbnails .thumbnail {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		border-right: 0;
		cursor: pointer;
	}
	.product .product-image {
		flex-direction: column;
	}
	.product .product-image {
		flex: 100%;
	}
	.product .product-info {
		flex: 100%;
	}
	.product-info .product-highlights {
		text-align: justify;
	}
	.product-info .product-description {
		text-align: justify;
	}
	.product-info .product-feature {
		text-align: justify;
	}
	.product-info .additional-info {
		text-align: justify;
	}
	#about-us {
		background-image: linear-gradient(to right bottom, var(--fiery-rose), var(--linen));
	}
	#about-us #about-box {
		width: 100%;
		background-color: rgb(255, 255, 255, 0.75);
		border-radius: 12px;
		box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
	}
	#about-box #about-img {
		flex: 100%;
		padding: 2.5rem;
		padding-bottom: none;
	}
	#about-img img {
		clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 92.5%);
		border-radius: 3px 3px 0 0;
		/* border-radius: 0; */
		box-shadow: inset 0px 3px 15px rgba(0, 0, 0, 0.2) !important;
	}
	#about-box #about-txt {
		flex: 100%;
		padding: 0 2.5rem 2.5rem 2.5rem;
		margin-top: -2.5rem;
	}
	#about-txt p {
		text-align: justify;
	}
	
	.memo-modal .memo {
		width: 65%;
		height: 40%;
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 1rem;
		border-radius: 3rem;
		-webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
		box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
		display: table;
	}
	
}


/*--- Phones ---*/
@media only screen and (max-width:37.5em) {     /*600px*/
	body {
		overflow-x: hidden;
	}
	.row {
		max-width: 50rem !important;
	}
	/*--------------------------------------------------------*/
	/*-------------------- OTHER UTILITY CLASSES -------------*/
	/*--------------------------------------------------------*/
	.section-title {
		font-size: 2.85rem;
	}
	/*--------------------------------------------------------*/
	/*-------------------- OTHER UTILITY CLASSES -------------*/
	/*--------------------------------------------------------*/
	.tagline h1 {
		font-size: 4rem !important;
		line-height: 1.2;
		font-weight: 700;
		margin-bottom: 2.5rem;
	}
	.flagship img {
		display: block;
		width: 100%;
		height: auto;
		animation: moveUpAndDown 1.1s;
		animation-direction: alternate;
		animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
		animation-iteration-count: infinite;
		position: static;
		margin-right: -6.5%;
	}
	#offers-section .offer-img {
		margin-bottom: -5.75rem;
	}
	#offers-section .offer-img img {
		width: 100%;
		height: auto;
	}
	.offer-text p {
		margin-bottom: 1.4rem;
	}
	.offer-text h3 {
		font-size: 2.9rem;
		margin-bottom: 1.4rem;
	}
	.offer-text small {
		margin-bottom: 1.5rem;
	}
	.product-category-tab .tab-icon {
		display: block;
		font-size: 2.5rem;
	}
	.product-category-tab .tab-label {
		display: block;
		font-size: 1.2rem;
		margin-left: 0;
	}
	/* .product .product-image {
		flex: 100%;
	}
	.product .product-info {
		flex: 100%;
	} */
	#contact-us {
		padding: 10rem 0 5rem;
	}
	#contact-box #contact-box-content {
		flex-direction: column;
	}
	.contact-info.left h1 {
		flex-direction: row;
	}
	.contact-info.left h1:after {
		display: none;
	}
	#about-us {
		padding: 6rem 0 0;
	}
	#about-box {
		flex-direction: column;
	}
	#footer {
		padding: 5rem 0 0 0;
	}
}

/*--- Smaller Phones ---*/
 @media only screen and (max-width:23.125em) {		/*370px*/
	.product-category-tab .tab-icon {
		font-size: 3rem;
		color: #333;
	}

	.active-tab > .tab-icon {
		color: var(--fiery-rose);
	}

	.product-category-tab .tab-label {
		display: none;
	}
}
